Repository DevExpress/testcafe: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

azure-pipelines.yml:
  pool: BrowserStack agents
  steps:
  - task: NodeTool@0
    displayName: Install Node.js
    condition: and(succeeded(), not(variables['isDocCommit']))
    timeoutInMinutes: 50
    inputs:
      versionSpec: 8.x
  - bash: 'npm install --no-progress --loglevel error
  
      npm test
  
      '
    displayName: Run tests
  ...

azure-pipelines/test-functional-headless.yml:
  jobs:
  - template: test-code-job-template.yml
    parameters:
      name: Tests
      task: test-functional-local-ie
      pool:
        vmImage: vs2017-win2016

Bump version (v1.0.0-alpha.3) (#3363)
  package.json
  test/functional/fixtures/regression/gh-845/testcafe-fixtures/index-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

simple quarantine tests
  test/functional/fixtures/video-recording/test.js
  test/functional/fixtures/video-recording/testcafe-fixtures/quarantine-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

fix live (closes #3366)
  src/runner/index.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Fix server tests for the docker-test task
  test/server/compiler-test.js
  test/server/live-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

fix live (closes #3366) (#3367)
  src/runner/index.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

[docs] Describe the configuration file (#3271)
  docs/README.md
  docs/articles/blog/2016-12-8-testcafe-v0-11-0-released.md
  docs/articles/blog/2017-2-16-testcafe-v0-13-0-released.md
  docs/articles/documentation/test-api/obtaining-data-from-the-client/README.md
  docs/articles/documentation/using-testcafe/README.md
  docs/articles/documentation/using-testcafe/command-line-interface.md
  docs/articles/documentation/using-testcafe/common-concepts/concurrent-test-execution.md
  docs/articles/documentation/using-testcafe/configuration-file.md
  docs/articles/documentation/using-testcafe/programming-interface/createtestcafe.md
  docs/articles/documentation/using-testcafe/programming-interface/runner.md
  docs/nav/nav-menu.yml
  examples/.testcaferc.json
Due: none

video capturing in quarantine mode (closes #3358) (#3362)
  src/runner/browser-job.js
  src/runner/test-run-controller.js
  src/video-recorder/index.js
  test/functional/fixtures/video-recording/test.js
  test/functional/fixtures/video-recording/testcafe-fixtures/quarantine-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Fix server tests for the docker-test task (#3368)
  test/server/compiler-test.js
  test/server/live-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Update hammerhead; Bump version (v1.0.0-alpha.4)
  package.json
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Browserstack
  test/functional/config.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Update hammerhead; Bump version (v1.0.0-alpha.4) (#3371)
  package.json
  test/functional/config.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

fix live
  package.json
  src/browser/connection/index.js
  src/live/controller.js
  src/live/file-watcher/index.js
  src/live/test-runner.js
  test/functional/fixtures/live/pages/index.html
  test/functional/fixtures/live/test-watcher.js
  test/functional/fixtures/live/test.js
  test/functional/fixtures/live/testcafe-fixtures/index-test.js
  test/server/browser-connection-test.js
  test/server/live-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Separate iframe tests
  Gulpfile.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Only iframes
  .travis.yml
  Gulpfile.js
  appveyor.yml
  azure-pipelines.yml
  test/functional/setup.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Test iframes
  Gulpfile.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Increase build timeout on Azure
  azure-pipelines.yml
  test.js
Due: azure-pipelines.yml

Describe live mode
  docs/README.md
  docs/articles/documentation/using-testcafe/command-line-interface.md
  docs/articles/documentation/using-testcafe/common-concepts/live-mode.md
  docs/articles/documentation/using-testcafe/programming-interface/README.md
  docs/articles/documentation/using-testcafe/programming-interface/livemoderunner.md
  docs/articles/documentation/using-testcafe/programming-interface/runner.md
  docs/articles/documentation/using-testcafe/programming-interface/testcafe.md
  docs/nav/nav-menu.yml
Due: none

Some changes
  docs/articles/documentation/using-testcafe/common-concepts/live-mode.md
  docs/articles/index.html
Due: none

Test
  Gulpfile.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Fix video recording for legacy tests
  src/runner/test-run-controller.js
  src/video-recorder/index.js
  test/server/video-recorder-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Test
  test/functional/config.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Fix a link
  docs/articles/documentation/using-testcafe/programming-interface/testcafe.md
Due: none

Test
  test/functional/config.js
  test/functional/fixtures/api/es-next/iframe-switching/test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Fix video recording for legacy tests (#3377)
  src/runner/test-run-controller.js
  src/video-recorder/index.js
  test/server/video-recorder-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

fix live (#3374)
  package.json
  src/browser/connection/index.js
  src/live/controller.js
  src/live/file-watcher/index.js
  src/live/test-runner.js
  test/functional/fixtures/live/pages/index.html
  test/functional/fixtures/live/test-watcher.js
  test/functional/fixtures/live/test.js
  test/functional/fixtures/live/testcafe-fixtures/index-test.js
  test/server/browser-connection-test.js
  test/server/live-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Disable cross-domain test for Safari
  test/functional/fixtures/api/es-next/iframe-switching/test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Be able to overwrite quarantine threshold via environment variable
  src/runner/test-run-controller.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Disable cross-domain test for Safari (#3380)
  test/functional/fixtures/api/es-next/iframe-switching/test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Fix inconsistencies with the documentation
  src/browser/provider/plugin-host.js
  src/errors/runtime/message.js
  src/notifications/warning-message.js
  src/utils/path-pattern.js
  src/video-recorder/index.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

fix live in multiple browsers
  src/live/test-run-controller.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

improve functional test
  src/live/controller.js
  src/live/test-runner.js
  test/functional/fixtures/live/test-helper.js
  test/functional/fixtures/live/test.js
  test/functional/fixtures/live/testcafe-fixtures/index-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

live mode - clear expected test count count cache to prevent hanging (partially closes #3381)
  src/live/test-run-controller.js
  src/live/test-runner.js
  test/server/live-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Fix tests
  .travis.yml
  appveyor.yml
  azure-pipelines.yml
  src/errors/runtime/message.js
  test/functional/fixtures/concurrency/test.js
  test/functional/fixtures/concurrency/testcafe-fixtures/concurrent-test.js
  test/functional/fixtures/concurrency/testcafe-fixtures/multibrowser-concurrent-test.js
  test/functional/fixtures/concurrency/testcafe-fixtures/sequential-test.js
  test/server/runner-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Final changes
  docs/articles/documentation/using-testcafe/common-concepts/live-mode.md
Due: none

Change comment
  test/functional/fixtures/concurrency/test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Address Boris' remarks + some enhancements
  docs/articles/documentation/using-testcafe/command-line-interface.md
  docs/articles/documentation/using-testcafe/common-concepts/live-mode.md
  docs/articles/documentation/using-testcafe/programming-interface/livemoderunner.md
  docs/articles/documentation/using-testcafe/programming-interface/runner.md
  docs/articles/documentation/using-testcafe/programming-interface/testcafe.md
Due: none

Address Andrey's remarks
  docs/articles/documentation/extending-testcafe/reporter-plugin/README.md
  docs/articles/documentation/extending-testcafe/reporter-plugin/helpers.md
  docs/articles/documentation/extending-testcafe/reporter-plugin/reporter-methods.md
Due: none

Path conditions:
  azure-pipelines.yml: any of: bin, src, test, azure-pipelines.yml, Gulpfile.js, package.json
  azure-pipelines/test-functional-headless.yml: any of: azure-pipelines, bin, src, test, Gulpfile.js, package.json
