Repository DevExpress/testcafe: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

azure-pipelines.yml:

trigger:
  branches:
    exclude:
    - build-bot-temp-*
    - new-docs

  paths:
    include:
    - /bin
    - /src
    - /test
    - /azure-pipelines.yml
    - /Gulpfile.js
    - /package.json

pool: 'BrowserStack agents'

steps:
- task: NodeTool@0
  displayName: 'Install Node.js'
  condition: and(succeeded(), not(variables['isDocCommit']))
  timeoutInMinutes: 50
  inputs:
    versionSpec: '8.x'

- bash: |
    npm install --no-progress --loglevel error
    npm test
  displayName: 'Run tests'
  condition: and(succeeded(), not(variables['isDocCommit']))
  timeoutInMinutes: 50

azure-pipelines/test-functional-headless.yml:

trigger:
  paths:
    include:
    - /azure-pipelines
    - /bin
    - /src
    - /test
    - /Gulpfile.js
    - /package.json

jobs:
- template: test-code-job-template.yml
  parameters:
    name: 'Tests'
    task: 'test-functional-local-ie'
    pool:
      vmImage: vs2017-win2016

Allow installing TestCafe directly from Git
  Gulpfile.js
  package.json
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Try to fix tests
  package.json
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Debug build
  .travis.yml
  appveyor.yml
  azure-pipelines.yml
Due: azure-pipelines.yml

Add a GitHub Actions topic
  docs/articles/documentation/continuous-integration/README.md
  docs/articles/documentation/continuous-integration/github-actions.md
  docs/nav/nav-menu.yml
Due: none

Allow installing TestCafe directly from Git (#4432)
  Gulpfile.js
  package.json
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

allow passing functions to isExecutableInTopWindowOnly
  src/client/driver/driver.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

treat recorder commands as service commands
  src/test-run/commands/type.js
  src/test-run/commands/utils.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

server tests have been added
  src/test-run/commands/actions.js
  src/test-run/commands/from-object.js
  test/server/test-run-commands-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Change the notification message
  src/notifications/information-message.js
  test/server/cli-authentication-helper-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Apply Dirk's corrections from action's readme
  docs/articles/documentation/continuous-integration/github-actions.md
Due: none

Fix language id
  docs/articles/documentation/continuous-integration/github-actions.md
Due: none

[docs] Add a GitHub Actions topic (#4478)
  docs/articles/documentation/continuous-integration/README.md
  docs/articles/documentation/continuous-integration/github-actions.md
  docs/nav/nav-menu.yml
Due: none

[docs] Add a link to GH Actions topic to doc's root readme
  docs/README.md
Due: none

Add a link to the doc's root readme
  docs/README.md
Due: none

Update the roadmap
  docs/articles/roadmap/README.md
Due: none

Update the roadmap (#4483)
  docs/articles/roadmap/README.md
Due: none

Add a gh action link to readme
  README.md
Due: none

Update the roadmap
  feed.xml
  roadmap/index.html
  sitemap.xml
Due: none

Add a gh action link to readme (#4484)
  README.md
Due: none

Requrested changes, fix headless "skip" value
  src/utils/parse-user-agent.ts
  test/functional/fixtures/api/es-next/resize-window/test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Refactor
  src/utils/parse-user-agent.ts
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Naming
  src/utils/parse-user-agent.ts
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

create screenshot dir if plugin is used (closes #4477)
  src/browser/provider/index.ts
  test/server/browser-provider-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Change the message & test new tools
  package.json
  src/notifications/information-message.js
  test/server/cli-authentication-helper-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Disable debug
  .travis.yml
  appveyor.yml
  azure-pipelines.yml
Due: azure-pipelines.yml

add forceExecutionInTopWindowOnly flag to RecorderCommand
  src/client/driver/driver.js
  src/test-run/commands/actions.js
  test/server/test-run-commands-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

remove obsolete code
  src/utils/promisified-functions.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

New browser tools
  package.json
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Add recorder command type and treat is as a service one (#4458)
  src/client/driver/driver.js
  src/test-run/commands/actions.js
  src/test-run/commands/from-object.js
  src/test-run/commands/type.js
  src/test-run/commands/utils.js
  test/server/test-run-commands-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

refactoring
  src/browser/provider/index.ts
  test/server/capturer-test.js
  test/server/crop-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

create screenshot dir if plugin is used (closes #4477) (#4488)
  src/browser/provider/index.ts
  src/utils/promisified-functions.js
  test/server/browser-provider-test.js
  test/server/capturer-test.js
  test/server/crop-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

redesign status bar with custom text
  src/assets/content-types.js
  src/assets/injectables.js
  src/client/ui/sprite.svg
  src/client/ui/status-bar/index.js
  src/client/ui/styles.less
  src/load-assets.js
  src/testcafe.js
  test/functional/fixtures/ui/test.js
  test/functional/fixtures/ui/testcafe-fixtures/status-bar-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

123123123
  Gulpfile.js
  test/functional/fixtures/api/es-next/resize-window/test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

1
  test/functional/fixtures/api/es-next/resize-window/test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

2
  test/functional/fixtures/ui/test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml
