Repository DevExpress/testcafe: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

azure-pipelines.yml:

trigger:
  branches:
    exclude:
    - build-bot-temp-*
    - new-docs

  paths:
    include:
    - /bin
    - /src
    - /test
    - /azure-pipelines.yml
    - /Gulpfile.js
    - /package.json

pool: 'BrowserStack agents'

steps:
- task: NodeTool@0
  displayName: 'Install Node.js'
  condition: and(succeeded(), not(variables['isDocCommit']))
  timeoutInMinutes: 50
  inputs:
    versionSpec: '8.x'

- bash: |
    npm install --no-progress --loglevel error
    npm test
  displayName: 'Run tests'
  condition: and(succeeded(), not(variables['isDocCommit']))
  timeoutInMinutes: 50

azure-pipelines/test-functional-headless.yml:

trigger:
  paths:
    include:
    - /azure-pipelines
    - /bin
    - /src
    - /test
    - /Gulpfile.js
    - /package.json

jobs:
- template: test-code-job-template.yml
  parameters:
    name: 'Tests'
    task: 'test-functional-local-ie'
    pool:
      vmImage: vs2017-win2016

Oops, not completed rebase
  docs/articles/documentation/test-api/test-code-structure.md
Due: none

Bump version (v1.4.0-rc.3)
  package.json
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Add TOC to roles and update config example
  docs/articles/documentation/test-api/authentication/user-roles.md
  examples/.testcaferc.json
Due: none

Rename a Roles section to avoud double 'use' in the headers
  docs/articles/documentation/test-api/authentication/user-roles.md
Due: none

[docs] Add new contributors to readme (#4113)
  README.md
Due: none

Add a new bugfix
  CHANGELOG.md
Due: none

Add a missing header
  CHANGELOG.md
Due: none

[docs] Add a bugfix to the 1.4.0 announcement and fix headers
  docs/articles/blog/2019-8-6-testcafe-v1-4-0-released.md
Due: none

Add a bugfix
  blog/testcafe-v1-4-0-released.html
  feed.xml
  sitemap.xml
Due: none

[docs] Typo
  docs/articles/blog/2019-8-6-testcafe-v1-4-0-released.md
Due: none

Parenthesis
  blog/testcafe-v1-4-0-released.html
  feed.xml
  sitemap.xml
Due: none

Parenthesis
  CHANGELOG.md
Due: none

Bump version
  package.json
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Increase timeout for desktop tests on Azure
  azure-pipelines.yml
Due: azure-pipelines.yml

Bump version (v1.4.0-rc.3) (#4114)
  azure-pipelines.yml
  package.json
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Bump version (v1.4.0)
  .publishrc
  package.json
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Create new context for each test function execution
  src/test-run/index.js
  test/functional/fixtures/api/raw/hooks/test.js
  test/functional/fixtures/api/raw/hooks/testcafe-fixtures/context-test.testcafe
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

[docs] Update date
  CHANGELOG.md
Due: none

[docs] Change the date in the v1.4.0 announcement
  docs/articles/blog/2019-8-7-testcafe-v1-4-0-released.md
Due: none

Change the date in the release notes
  blog/index.html
  blog/testcafe-v1-4-0-released.html
  feed.xml
  sitemap.xml
Due: none

[docs] Add changelog for v1.4.0 (#4097)
  CHANGELOG.md
Due: none

Bump version (v1.4.0) (#4125)
  .publishrc
  package.json
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

fix type in input wrapped in label (closes #4068) (#4086)
  src/client/automation/utils/utils.js
  test/client/fixtures/automation/type-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

fix module cache clearing in live mode for Node 12 (closes #4052) (#4090)
  src/live/file-watcher/modules-graph.js
  test/server/data/test-suites/live/commonjs-module.js
  test/server/data/test-suites/live/multiple-tests.js
  test/server/data/test-suites/live/test-external-module-rerun.js
  test/server/data/test-suites/live/test-external-module.js
  test/server/data/test-suites/live/test-external-unexisting-module.js
  test/server/data/test-suites/live/test-with-syntax-error.js
  test/server/data/test-suites/live/test.js
  test/server/live-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Fix native Docker detection on publishing
  Gulpfile.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Remove del-cli from devDependencies
  package.json
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

remove redurant semicolon
  test/functional/fixtures/api/es-next/custom-client-scripts/testcafe-fixtures/i4122.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

rewrite the test
  test/functional/fixtures/api/es-next/custom-client-scripts/testcafe-fixtures/i4122.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

fix test
  test/functional/fixtures/api/es-next/request-hooks/testcafe-fixtures/i4122.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

remove redurant brases
  test/functional/fixtures/api/es-next/custom-client-scripts/testcafe-fixtures/i4122.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

fix 'Client scripts: test's client scripts rewrite fixture's client scripts' (close #4122)
  src/api/structure/test.js
  test/functional/fixtures/api/es-next/custom-client-scripts/test.js
  test/functional/fixtures/api/es-next/custom-client-scripts/testcafe-fixtures/i4122.js
  test/functional/fixtures/api/es-next/request-hooks/test.js
  test/functional/fixtures/api/es-next/request-hooks/testcafe-fixtures/i4122.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

fix lint
  test/functional/fixtures/api/es-next/custom-client-scripts/testcafe-fixtures/i4122.js
  test/functional/fixtures/api/es-next/request-hooks/testcafe-fixtures/i4122.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

.
  src/api/test-controller/create-execution-context.js
  src/api/test-controller/index.js
  src/test-run/execute-js-expression.js
  src/test-run/index.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

fix review issues
  src/api/structure/test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

fix for tests
  test/server/test-run-commands-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

fix 'Client scripts: test's client scripts rewrite fixture's client scripts' (close #4122) (#4123)
  src/api/structure/test.js
  test/functional/fixtures/api/es-next/custom-client-scripts/test.js
  test/functional/fixtures/api/es-next/custom-client-scripts/testcafe-fixtures/i4122.js
  test/functional/fixtures/api/es-next/request-hooks/test.js
  test/functional/fixtures/api/es-next/request-hooks/testcafe-fixtures/i4122.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

.
  test/functional/fixtures/api/raw/hooks/testcafe-fixtures/context-test.testcafe
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

tmp
  src/cli/log.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Enhance the typeText and pressKey action description
  docs/articles/documentation/test-api/actions/press-key.md
  docs/articles/documentation/test-api/actions/type-text.md
Due: none
