Repository DevExpress/testcafe: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

azure-pipelines.yml:

trigger:
  branches:
    exclude:
    - build-bot-temp-*
    - new-docs

  paths:
    include:
    - /bin
    - /src
    - /test
    - /azure-pipelines.yml
    - /Gulpfile.js
    - /package.json

pool: 'BrowserStack agents'

steps:
- task: NodeTool@0
  displayName: 'Install Node.js'
  condition: and(succeeded(), not(variables['isDocCommit']))
  timeoutInMinutes: 50
  inputs:
    versionSpec: '8.x'

- bash: |
    npm install --no-progress --loglevel error
    npm test
  displayName: 'Run tests'
  condition: and(succeeded(), not(variables['isDocCommit']))
  timeoutInMinutes: 50

azure-pipelines/test-functional-headless.yml:

trigger:
  paths:
    include:
    - /azure-pipelines
    - /bin
    - /src
    - /test
    - /Gulpfile.js
    - /package.json

jobs:
- template: test-code-job-template.yml
  parameters:
    name: 'Tests'
    task: 'test-functional-local-ie'
    pool:
      vmImage: vs2017-win2016

[docs] Update the No Response bot message
  .github/no-response.yml
Due: none

[docs] Update the No Response bot message (#4577)
  .github/no-response.yml
Due: none

fire `beforeInput` (closes #4486)
  src/client/automation/playback/type/type-text.js
  test/client/fixtures/automation/type-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

small refactoring
  test/functional/fixtures/reporter/reporter.js
  test/functional/fixtures/reporter/test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

lint
  test/functional/fixtures/reporter/reporter.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Fire `beforeInput` (closes #4486) (#4506)
  src/client/automation/playback/type/type-text.js
  test/client/fixtures/automation/type-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

[docs] Updated roadmap
  docs/articles/roadmap/README.md
Due: none

Implement reporter OnTestRunActionDone/Start methods (closes #4507) (#4547)
  src/api/test-controller/index.js
  src/client-functions/client-function-builder.js
  src/reporter/command-report-item.ts
  src/reporter/index.js
  src/role/index.js
  src/role/phase.js
  src/runner/browser-job.js
  src/runner/task.js
  src/runner/test-run-controller.js
  src/test-run/index.js
  test/functional/fixtures/reporter/pages/index.html
  test/functional/fixtures/reporter/reporter.js
  test/functional/fixtures/reporter/test.js
  test/functional/fixtures/reporter/testcafe-fixtures/index-test.js
  test/server/data/test-controller-reporter-expected/index.js
  test/server/test-controller-events-test.js
  test/server/test-controller-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

[docs] Add an example and FAQ entry about dynamic IDs (closes #4007) (#4532)
  docs/articles/documentation/test-api/selecting-page-elements/examples-of-working-with-dom-elements.md
  docs/articles/faq/README.md
Due: none

[docs] Add custom method's returnDOMNodes description (#4538)
  docs/articles/documentation/test-api/selecting-page-elements/selectors/extending-selectors.md
Due: none

Add info about publishing reports on Azure (closes #4250)
  docs/articles/documentation/continuous-integration/azure-devops.md
  docs/articles/images/azure/add-publish-test-results.png
  docs/articles/images/azure/open-test-runs.png
  docs/articles/images/azure/publish-test-results-run-when-failed.png
  docs/articles/images/azure/publish-test-results.png
  docs/articles/images/azure/test-run-summary.png
  docs/articles/images/azure/test-runs-click-run.png
Due: none

[docs] Updated roadmap (#4580)
  docs/articles/roadmap/README.md
Due: none

Improve 't.getBrowserConsoleMessages' for multiple window mode
  src/browser/connection/gateway.js
  src/browser/connection/gateway.ts
  src/browser/connection/index.ts
  src/client/driver/driver.js
  src/index.js
  src/test-run/browser-console-messages.js
  src/test-run/index.js
  test/functional/fixtures/run-options/allow-multiple-windows/pages/console/first.html
  test/functional/fixtures/run-options/allow-multiple-windows/pages/console/second.html
  test/functional/fixtures/run-options/allow-multiple-windows/pages/console/trigger-console-messages.js
  test/functional/fixtures/run-options/allow-multiple-windows/pages/switching-to-child/window-open.html
  test/functional/fixtures/run-options/allow-multiple-windows/test.js
  test/functional/fixtures/run-options/allow-multiple-windows/testcafe-fixtures/console/console-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

refactoring
  src/browser/connection/gateway.ts
  src/browser/connection/index.ts
  src/runner/bootstrapper.ts
  src/testcafe.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

try to fix tests
  src/browser/connection/gateway.ts
  src/browser/connection/index.ts
  src/browser/provider/index.ts
  src/testcafe.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

fix formatting
  src/client/driver/driver.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

try to fix tests again
  src/client/driver/driver.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

small refactoring
  src/client/driver/driver.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Fix a link (lost during merge)
  docs/articles/documentation/continuous-integration/azure-devops.md
Due: none

Allow creating branches in the core repo
  .travis.yml
  appveyor.yml
  azure-pipelines.yml
Due: azure-pipelines.yml

[docs] Add info about publishing reports on Azure (#4534)
  docs/articles/documentation/continuous-integration/azure-devops.md
  docs/articles/images/azure/add-publish-test-results.png
  docs/articles/images/azure/open-test-runs.png
  docs/articles/images/azure/publish-test-results-run-when-failed.png
  docs/articles/images/azure/publish-test-results.png
  docs/articles/images/azure/test-run-summary.png
  docs/articles/images/azure/test-runs-click-run.png
Due: none

initial
  @types/time-limit-promise/index.d.ts
  src/browser/connection/index.ts
  src/browser/connection/remotes-queue.ts
  src/client/driver/command-executors/execute-child-window-driver-link-selector.js
  src/client/driver/command-executors/execute-child-window-selector.js
  src/client/driver/driver.js
  test/functional/fixtures/run-options/allow-multiple-windows/pages/switching-to-child/cross-domain-page.html
  test/functional/fixtures/run-options/allow-multiple-windows/test.js
  test/functional/fixtures/run-options/allow-multiple-windows/testcafe-fixtures/switching-to-child/cross-domain.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

123
  package.json
  test/functional/fixtures/regression/gh-1994/testcafe-fixtures/index.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Add a changelog for v1.7.1
  CHANGELOG.md
Due: none

Update the website 12/18/2019
  blog/testcafe-v0-11-0-released.html
  blog/testcafe-v0-12-0-released.html
  blog/testcafe-v0-15-0-released.html
  blog/testcafe-v0-19-0-released.html
  blog/testcafe-v0-21-0-released.html
  documentation/continuous-integration/azure-devops.html
  documentation/test-api/actions/take-screenshot.html
  documentation/test-api/actions/upload.html
  documentation/test-api/assertions/index.html
  documentation/test-api/authentication/user-roles.html
  documentation/test-api/built-in-waiting-mechanisms.html
  documentation/test-api/identify-the-browser-and-platform.html
  documentation/test-api/intercepting-http-requests/attaching-hooks-to-tests-and-fixtures.html
  documentation/test-api/intercepting-http-requests/logging-http-requests.html
  documentation/test-api/selecting-page-elements/examples-of-working-with-dom-elements.html
  documentation/test-api/selecting-page-elements/selectors/extending-selectors.html
  documentation/test-api/selecting-page-elements/selectors/functional-style-selectors.html
  documentation/test-api/selecting-page-elements/selectors/selector-options.html
  documentation/test-api/selecting-page-elements/selectors/using-selectors.html
  documentation/test-api/test-code-structure.html
  documentation/using-testcafe/command-line-interface.html
  documentation/using-testcafe/common-concepts/inject-scripts-into-tested-pages.html
  documentation/using-testcafe/configuration-file.html
  documentation/using-testcafe/programming-interface/runner.html
  faq/index.html
  feed.xml
  roadmap/index.html
  sitemap.xml
Due: none

test
  src/reporter/command-report-item.ts
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

[docs] Extending selectors - add a header
  docs/articles/documentation/test-api/selecting-page-elements/selectors/extending-selectors.md
Due: none

More updates
  documentation/continuous-integration/azure-devops.html
  documentation/test-api/selecting-page-elements/selectors/extending-selectors.html
  feed.xml
  images/azure/add-publish-test-results.png
  images/azure/open-test-runs.png
  images/azure/publish-test-results-run-when-failed.png
  images/azure/publish-test-results.png
  images/azure/test-run-summary.png
  images/azure/test-runs-click-run.png
  sitemap.xml
Due: none

Bump version (v1.7.1-rc.1)
  .publishrc
  package.json
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Adjust the date
  CHANGELOG.md
Due: none

Bump version (v1.7.1-rc.1); Allow creating branches in the core repo (#4581)
  .publishrc
  .travis.yml
  appveyor.yml
  azure-pipelines.yml
  package.json
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

123
  src/browser/provider/built-in/dedicated/chrome/index.js
  src/browser/provider/built-in/dedicated/chrome/local-chrome.js
  src/browser/provider/built-in/dedicated/chrome/runtime-info.ts
  src/browser/provider/built-in/dedicated/edge-chromium/index.js
  src/browser/provider/built-in/dedicated/edge-chromium/runtime-info.ts
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

23
  src/browser/provider/built-in/dedicated/chrome/local-chrome.js
  src/browser/provider/built-in/dedicated/chrome/runtime-info.ts
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

12341234
  docs/articles/documentation/recipes/debug-tests/chrome-dev-tools.md
  src/browser/provider/built-in/dedicated/chrome/index.js
  src/browser/provider/built-in/dedicated/chrome/local-chrome.js
  src/browser/provider/built-in/dedicated/chrome/runtime-info.ts
  src/browser/provider/built-in/dedicated/edge-chromium/index.js
  src/browser/provider/built-in/dedicated/edge-chromium/runtime-info.ts
  src/browser/provider/index.ts
  src/browser/provider/pool.js
  test/functional/fixtures/run-options/allow-multiple-windows/pages/switching-to-child/window-open.html
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

123
  src/browser/provider/built-in/dedicated/edge-chromium/runtime-info.ts
  test/functional/fixtures/regression/gh-1994/testcafe-fixtures/index.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

1234
  Gulpfile.js
  src/browser/provider/built-in/dedicated/chrome/local-chrome.js
  src/browser/provider/built-in/dedicated/chrome/runtime-info.ts
  src/browser/provider/built-in/dedicated/edge-chromium/index.js
  src/browser/provider/built-in/dedicated/edge-chromium/runtime-info.ts
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

1123
  screenshots/2019-12-18_17-42-25/test-1/Microsoft_Edge_79.0.309.54_Windows_10/1.png
  screenshots/2019-12-18_17-42-25/test-1/Microsoft_Edge_79.0.309.54_Windows_10/2.png
  screenshots/2019-12-18_17-44-35/test-1/Microsoft_Edge_79.0.309.54_Windows_10/errors/1.png
  screenshots/2019-12-18_17-53-50/test-1/Microsoft_Edge_79.0.309.54_Windows_10/1.png
  screenshots/2019-12-18_17-53-50/test-1/Microsoft_Edge_79.0.309.54_Windows_10/2.png
  screenshots/2019-12-18_18-12-06/test-1/Microsoft_Edge_79.0.309.54_Windows_10/1.png
  screenshots/2019-12-18_18-12-06/test-1/Microsoft_Edge_79.0.309.54_Windows_10/2.png
  screenshots/2019-12-18_18-12-06/test-1/Microsoft_Edge_79.0.309.54_Windows_10/thumbnails/1.png
  screenshots/2019-12-18_18-12-06/test-1/Microsoft_Edge_79.0.309.54_Windows_10/thumbnails/2.png
  screenshots/2019-12-18_18-13-12/test-1/Microsoft_Edge_79.0.309.54_Windows_10/1.png
  screenshots/2019-12-18_18-13-12/test-1/Microsoft_Edge_79.0.309.54_Windows_10/2.png
  screenshots/2019-12-18_18-13-12/test-1/Microsoft_Edge_79.0.309.54_Windows_10/thumbnails/1.png
  screenshots/2019-12-18_18-13-12/test-1/Microsoft_Edge_79.0.309.54_Windows_10/thumbnails/2.png
  screenshots/2019-12-18_18-15-50/test-1/Microsoft_Edge_79.0.309.54_Windows_10/1.png
  screenshots/2019-12-18_18-15-50/test-1/Microsoft_Edge_79.0.309.54_Windows_10/2.png
  screenshots/2019-12-18_18-15-50/test-1/Microsoft_Edge_79.0.309.54_Windows_10/thumbnails/1.png
  screenshots/2019-12-18_18-15-50/test-1/Microsoft_Edge_79.0.309.54_Windows_10/thumbnails/2.png
  screenshots/2019-12-18_18-19-23/test-1/Microsoft_Edge_79.0.309.54_Windows_10/1.png
  screenshots/2019-12-18_18-19-23/test-1/Microsoft_Edge_79.0.309.54_Windows_10/2.png
  screenshots/2019-12-18_18-19-23/test-1/Microsoft_Edge_79.0.309.54_Windows_10/thumbnails/1.png
  screenshots/2019-12-18_18-19-23/test-1/Microsoft_Edge_79.0.309.54_Windows_10/thumbnails/2.png
  screenshots/2019-12-18_18-22-36/test-1/Microsoft_Edge_79.0.309.54_Windows_10/1.png
  screenshots/2019-12-18_18-22-36/test-1/Microsoft_Edge_79.0.309.54_Windows_10/2.png
  screenshots/2019-12-18_18-22-36/test-1/Microsoft_Edge_79.0.309.54_Windows_10/thumbnails/1.png
  screenshots/2019-12-18_18-22-36/test-1/Microsoft_Edge_79.0.309.54_Windows_10/thumbnails/2.png
  screenshots/custom/Microsoft Edge.png
  screenshots/custom/thumbnails/Microsoft Edge.png
Due: none

Bump version (v1.7.1)
  .publishrc
  package.json
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

1
  Gulpfile.js
  test/functional/fixtures/api/es-next/take-screenshot/test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml
