Repository DevExpress/testcafe: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

azure-pipelines.yml:

trigger:
  branches:
    exclude:
    - build-bot-temp-*
    - new-docs

  paths:
    include:
    - /bin
    - /src
    - /test
    - /azure-pipelines.yml
    - /Gulpfile.js
    - /package.json

pool: 'BrowserStack agents'

steps:
- task: NodeTool@0
  displayName: 'Install Node.js'
  condition: and(succeeded(), not(variables['isDocCommit']))
  timeoutInMinutes: 50
  inputs:
    versionSpec: '8.x'

- bash: |
    npm install --no-progress --loglevel error
    npm test
  displayName: 'Run tests'
  condition: and(succeeded(), not(variables['isDocCommit']))
  timeoutInMinutes: 50

azure-pipelines/test-functional-headless.yml:

trigger:
  paths:
    include:
    - /azure-pipelines
    - /bin
    - /src
    - /test
    - /Gulpfile.js
    - /package.json

jobs:
- template: test-code-job-template.yml
  parameters:
    name: 'Tests'
    task: 'test-functional-local-ie'
    pool:
      vmImage: vs2017-win2016

Update docs/articles/blog/2020-5-25-how-to-debug-tests-in-testcafe-quick-guide.md
  docs/articles/blog/2020-5-25-how-to-debug-tests-in-testcafe-quick-guide.md
Due: none

[docs] Update the blog post (#5131)
  docs/articles/blog/2020-5-25-how-to-debug-tests-in-testcafe-quick-guide.md
Due: none

Update the blog post text
  example/index.html
  example/thank-you.html
  feed.xml
  media/team-blog/how-to-debug-tests-in-testcafe-quick-guide.html
  sitemap.xml
Due: none

Bump testcafe-hammerhead (v17.1.1)
  package.json
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Use the native "childNodes" getter in client code. Bump eslint-plugin-hammerhead (v0.3.1), testcafe-hammerhead (v17.1.1) (#5122)
  package.json
  src/client/automation/playback/type/type-text.js
  src/client/core/utils/content-editable.js
  src/client/core/utils/dom.js
  src/client/driver/command-executors/client-functions/selector-executor/node-snapshots.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Added taskProperties param as obj containing opts
  src/reporter/index.js
  src/reporter/plugin-host.js
  test/server/reporter-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Enhance the Testing Library recipe
  docs/articles/documentation/recipes/README.md
  docs/articles/documentation/recipes/integrations/testing-library.md
  docs/articles/documentation/recipes/integrations/use-testing-library-api.md
  docs/nav/nav-menu.yml
Due: none

Update use-testing-library-api.md
  docs/articles/documentation/recipes/integrations/use-testing-library-api.md
Due: none

Add type definitions for RequestOptions and ResponseMock
  test/server/data/test-suites/typescript-defs/request-hooks.ts
  test/server/data/test-suites/typescript-testcafe-scripts-defs/request-hooks.ts
  ts-defs-src/test-api/request-hook.d.ts
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

alpha.2
  package.json
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

feat: added docs for @testing-library/testcafe (#5121)
  docs/articles/documentation/recipes/README.md
  docs/articles/documentation/recipes/integrations/use-testing-library-api.md
  docs/nav/nav-menu.yml
Due: none

Enable JSX and TSX
  package.json
  src/compiler/index.js
  src/compiler/load-babel-libs.js
  src/compiler/test-file/base.js
  src/compiler/test-file/formats/es-next/compiler.js
  src/compiler/test-file/formats/typescript/compiler.ts
  src/configuration/default-values.ts
  test/server/compiler-test.js
  test/server/data/test-suites/basic/testfile.jsx
  test/server/data/test-suites/typescript-basic/testfile.tsx
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Passing configuration options to reporter (closes #5088) (#5096)
  src/reporter/index.js
  src/reporter/plugin-host.js
  test/server/reporter-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Update browser tools
  package.json
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Fix tests
  src/configuration/default-values.ts
  test/server/compiler-test.js
  test/server/data/test-suites/compile-react/testfile.jsx
  test/server/data/test-suites/compile-react/testfile.tsx
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Allow to use ClientScript.module in TS (closes #5071) (#5075)
  test/server/data/test-suites/typescript-defs/structure.ts
  test/server/data/test-suites/typescript-runner/runner.ts
  ts-defs-src/test-api/client-script.d.ts
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Add type definitions for RequestOptions and ResponseMock (#5119)
  test/server/data/test-suites/typescript-defs/request-hooks.ts
  test/server/data/test-suites/typescript-testcafe-scripts-defs/request-hooks.ts
  ts-defs-src/test-api/request-hook.d.ts
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

feat: added support for JSX in js test files (closes #4817) (#5078)
  package.json
  src/compiler/index.js
  src/compiler/load-babel-libs.js
  src/compiler/test-file/base.js
  src/compiler/test-file/formats/es-next/compiler.js
  src/compiler/test-file/formats/typescript/compiler.ts
  src/configuration/default-values.ts
  test/server/compiler-test.js
  test/server/data/test-suites/compile-react/testfile.jsx
  test/server/data/test-suites/compile-react/testfile.tsx
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Bump version (v1.8.6-alpha.2) (#5136)
  package.json
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Add a changelog for v1.8.6
  CHANGELOG.md
Due: none

initial
  Gulpfile.js
  package.json
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

update gulp-mocha-simple package
  package.json
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

appveyor
  .travis.yml
  Gulpfile.js
  appveyor.yml
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

add unstable test
  test/functional/fixtures/api/es-next/assertions/test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Add an example page
  docs/articles/documentation/examples/README.md
  docs/nav/docs-top-menu.yml
Due: none

Address Mikhail's remarks
  docs/articles/documentation/examples/README.md
Due: none

azure pipelines
  azure-pipelines.yml
Due: azure-pipelines.yml

update reporter
  package.json
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

remove unstable test
  test/functional/fixtures/api/es-next/assertions/test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

update reporter again
  package.json
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

try to fix azure pipelines
  azure-pipelines.yml
Due: azure-pipelines.yml

Move to 'variables' secrion
  azure-pipelines.yml
Due: azure-pipelines.yml

move variables declaration
  azure-pipelines.yml
Due: azure-pipelines.yml

Update azure-pipelines.yml
  azure-pipelines.yml
Due: azure-pipelines.yml

Revert "add unstable test"
  test/functional/fixtures/api/es-next/assertions/test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Turn on rerun failed tests on CI (#5142)
  .travis.yml
  Gulpfile.js
  appveyor.yml
  azure-pipelines.yml
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Display unstable tests in the test reporter (#5140)
  Gulpfile.js
  package.json
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Bump version (v1.8.6)
  .publishrc
  package.json
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml
