Repository DevExpress/testcafe: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

azure-pipelines.yml:
  pool: BrowserStack agents
  steps:
  - task: NodeTool@0
    displayName: Install Node.js
    condition: and(succeeded(), not(variables['isDocCommit']))
    timeoutInMinutes: 50
    inputs:
      versionSpec: 8.x
  - bash: 'npm install --no-progress --loglevel error
  
      npm test
  
      '
    displayName: Run tests
  ...

azure-pipelines/test-functional-headless.yml:
  jobs:
  - template: test-code-job-template.yml
    parameters:
      name: Tests
      task: test-functional-local-ie
      pool:
        vmImage: vs2017-win2016

Reapply the fix (#5043)
  docs/articles/documentation/guides/basic-guides/select-page-elements.md
Due: none

Fix landing page links
  docs/articles/index.html
Due: none

Fix more links in the recent team blog post
  docs/articles/blog/2020-4-20-how-to-scroll-web-pages-using-testcafe.md
Due: none

Update links to Alpine repos (closes #5057)
  docker/Dockerfile
Due: none

One more link
  docs/articles/blog/2020-4-20-how-to-scroll-web-pages-using-testcafe.md
Due: none

Reference my redirect-from fork
  Gemfile
Due: none

[docs] Fix landing page links (#5059)
  docs/articles/blog/2020-4-20-how-to-scroll-web-pages-using-testcafe.md
  docs/articles/index.html
Due: none

Reference my redirect-from fork (#5060)
  Gemfile
Due: none

new line
  src/client/driver/embedding-utils.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

rewrite tested_app.js to typescript
  src/runner/bootstrapper.ts
  src/runner/tested-app.ts
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

rewrite tested_app.js to typescript (#5067)
  src/runner/bootstrapper.ts
  src/runner/tested-app.ts
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

fix compilation
  src/services/utils/ipc/proxy.ts
  src/utils/async-event-emitter.ts
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

change message
  src/services/utils/ipc/proxy.ts
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

point
  src/services/utils/ipc/proxy.ts
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Final touch
  src/services/utils/ipc/proxy.ts
  src/utils/async-event-emitter.ts
  test/server/data/ipc-proxy/async-service.js
  test/server/data/ipc-proxy/host.js
  test/server/ipc-proxy-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Fix compilation (#5070)
  src/services/utils/ipc/proxy.ts
  src/utils/async-event-emitter.ts
  test/server/data/ipc-proxy/async-service.js
  test/server/data/ipc-proxy/host.js
  test/server/ipc-proxy-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

add space key property for IE; add reversedKeyProperty for KEY_MAPS
  src/client/core/utils/key-maps.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

reorganize key_map
  src/client/core/utils/key-maps.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

initial
  Gulpfile.js
  test/functional/setup.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

increase run tests timeout
  azure-pipelines.yml
Due: azure-pipelines.yml

Some changes in KEY_MAPS for Studio (#5069)
  src/client/core/utils/key-maps.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Bump version (v1.8.5-alpha.3)
  package.json
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Use another way to rerun tests
  Gulpfile.js
  test/functional/setup.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

remove development artifacts
  test/functional/setup.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

fix video recording tests
  src/runner/test-run-controller.ts
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

inverse logic
  src/runner/browser-set.ts
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

initial
  src/browser/connection/gateway.ts
  src/browser/connection/heartbeat-status.ts
  src/browser/connection/index.ts
  src/browser/connection/status.js
  src/browser/connection/status.ts
  src/browser/provider/plugin-host.js
  src/client/browser/index.js
  src/runner/browser-job.js
  src/runner/browser-set.js
  src/runner/browser-set.ts
  src/runner/interfaces.ts
  src/runner/reporter-stream-controller.ts
  src/runner/test-run-controller.js
  src/runner/test-run-controller.ts
  src/screenshots/index.js
  test/server/browser-connection-test.js
  test/server/capturer-test.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

small changes
  src/runner/browser-set.ts
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Rerun failed tests in Azure test tasks (#5074)
  Gulpfile.js
  azure-pipelines.yml
  test/functional/setup.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

initial
  package.json
  src/browser/connection/index.ts
  src/browser/provider/built-in/dedicated/chrome/runtime-info.ts
  src/browser/provider/built-in/dedicated/firefox/index.js
  src/browser/provider/built-in/dedicated/firefox/runtime-info.js
  src/browser/provider/index.ts
  src/client/driver/driver.js
  src/client/test-run/index.js.mustache
  src/test-run/index.js
  src/test-run/session-controller.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

close browser on 'browser-job-done' event
  src/runner/index.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

changes
  src/test-run/index.js
  src/test-run/session-controller.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

turn on security.enterprise_roots.enabled
  src/browser/provider/built-in/dedicated/firefox/create-temp-profile.ts
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Add changelog for v1.8.5
  CHANGELOG.md
Due: none

Fix the date
  CHANGELOG.md
Due: none

Fix gulpfile after rebase
  Gulpfile.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Support blog post notifications
  docs/nav/top-menu-items.yml
Due: none

space
  Gulpfile.js
Due: azure-pipelines.yml, azure-pipelines/test-functional-headless.yml

Path conditions:
  azure-pipelines.yml: any of: bin, src, test, azure-pipelines.yml, Gulpfile.js, package.json
  azure-pipelines/test-functional-headless.yml: any of: azure-pipelines, bin, src, test, Gulpfile.js, package.json
